* {
  font-family: "Manrope", sans-serif;
  margin: 0px;
  /* padding: 0px; */
  box-sizing: border-box;
  /* background-color: rgb(248, 247, 233); */
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: 1px red solid; */
  position: sticky;
  top: 0;
  border-bottom-color: rgb(172, 170, 170);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: rgb(248, 247, 233);
}

.navbar {
  width: 70%;
  padding: 14px;
  display: flex;
  /* outline: 1px red solid; */
}

.icon-container {
  /* outline: 1px red solid; */
  margin-right: px;
}

.icon {
  /* border: 1px solid red; */
  font-size: 20px;
  /* margin-right: 15px; */
  font-weight: bold;
  color: black;
}

.navbar-links {
  display: flex;
  /* outline: 1px solid red; */
  /* margin-right: 5px; */
}

.navbar-links li {
  list-style: none;
  /* outline: 1px red solid; */
  margin-right: 15px;
  padding-top: 4px;
  font-size: small;
}

.offwhite {
  background-color: rgb(248, 247, 233);
  height: fit-content;
}

.outer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  /* outline: 1px red solid; */
}

#first-outer-wrapper {
  height: 100vh;
  /* outline: 1px red solid; */
}

.inner-wrapper {
  display: flex;
  flex-direction: row;
  width: 75%;
  height: 100%;
  /* outline: 1px red solid; */
}

.left {
  /* outline: 1px red solid; */
  padding: 25px;
  flex: 0.4;
  text-align: center;
}

.right {
  /* outline: 1px red solid; */
  padding: 25px;
  flex: 1.6;
}

h1 {
  font-weight: lighter;
  font-size: x-large;
}

span {
  font-size: small;
  color: rgb(197, 192, 192);
}

.top {
  /* outline: 1px red solid; */
  margin-bottom: 50px;
}

.top h1 {
  padding: 14px 0;
}

.bottom {
  /* outline: 1px red solid; */
  display: flex;
}

.bottom-left {
  margin-right: 70px;
  /* outline: 1px red solid; */
}

.yellow {
  background-color: rgb(235, 234, 194);
  height: auto;
}

.left > img {
  border-radius: 50%;
}

.dialog-box {
  /* outline: 1px red solid; */
  background-color: rgb(248, 247, 233);
  border-radius: 5px;
  padding: 14px;
  margin-bottom: 25px;
  border: 1px rgb(206, 203, 203) solid;
  box-shadow: 1px 1px 2px grey;
}

#last-dialog-box {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

/* Projects */

.blue-nav {
  /* outline: 1px red solid; */
  background: rgba(138, 137, 106, 0.678);
  border-radius: 8px;
  width: fit-content;
  display: flex;
  padding: 0px;
  margin-bottom: 50px;
}

.blue-nav li {
  /* outline: 1px red solid; */
  list-style-type: none;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
}

.blue-nav li:hover {
  background: rgba(119, 118, 101, 0.678);
}

.selected {
  background: rgba(119, 118, 101, 0.678);
}

/* Projects .grid-container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 10px;
  /* outline: 1px solid red; */
}

.grid-container > div {
  background: white;
  /* width: 150px; */
  height: 300px;
  border-radius: 8px;
  border: 1px solid rgba(138, 137, 106, 0.678);
}

/* Footer */
.footer {
  background-color: black;
  position: relative;
  height: 50px;
}

.footer-main-icon {
  position: absolute;
  top: 10px;
  left: 20px;
}

.footer-main-icon .icon {
  color: white;
}

.footer-icons {
  color: white;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
}

.footer-icons a {
  color: white;
}

.footer-icons a:hover {
  color: blue;
}